.show-img{
	height: 100%;
	width: auto;
	max-height: 21rem;

	padding: 1rem 1rem 1rem 1rem;
}

.show-book-img{
	height: 100%;
	width: auto;
	max-height: 30.7rem;

	/* padding: 1rem 1rem 1rem 1rem; */
}

.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}
